# OP_NET Configuration
VITE_OP_NET_TESTNET_RPC=https://testnet.opnet.org/rpc
VITE_OP_NET_TESTNET_CHAIN_ID=1338

# API Configuration
VITE_API_BASE_URL=https://api.opwa.btc

# Vercel (CI only - never commit real values)
VERCEL_TOKEN=
ORG_ID=
PROJECT_ID=
VITE_OPWA_TOKEN_ADDRESS=opt1sqqntcs2edrvm7gnfpc84nythlsc7sz9p2cmcf44p
